<div ng-controller="Escc.Umbraco.PropertyEditors.RichTextPropertyEditor.Controller" class="umb-editor umb-rte">
    <div ng-if="isLoading">Loading...</div>
    <div validate-rich-text="validate-rich-text">
        <p ng-show="propertyForm.$error.clickHere" class="alert alert-error clickHere"></p>
        <p ng-show="propertyForm.$error.linkToHere" class="alert alert-error linkToHere"></p>
        <p ng-show="propertyForm.$error.visit" class="alert alert-error visit"></p>
        <p ng-show="propertyForm.$error.more" class="alert alert-error more"></p>
        <p ng-show="propertyForm.$error.allCaps" class="alert alert-error allCaps"></p>
        <p ng-show="propertyForm.$error.urlAsLinkText" class="alert alert-error urlAsLinkText"></p>
        <p ng-show="propertyForm.$error.onlyLinks" class="alert alert-error onlyLinks"></p>
        <p ng-show="propertyForm.$error.noDocuments" class="alert alert-error noDocuments"></p>
        <p ng-show="propertyForm.$error.maximumWords" class="alert alert-error maximumWords"></p>
        <div ng-class="{'escc-invalid': propertyForm.$invalid}">
            <textarea ng-style="{ visibility :  isLoading ? 'hidden' : 'visible'}" ng-model="model.value" rows="10" id="{{textAreaHtmlId}}" name="validateThis" apply-formatters="apply-formatters"></textarea>
        </div>
    </div>
</div>